.logo {
    width: 130px;
    height: auto;
    margin-left: 10px;
}



.container:hover {
    background-color: #F5F5F5;
}

.fixLine {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 400px;
    margin: 0 0 1em 0;
    overflow: hidden;
}

.header-st {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0;
    z-index: 2;
}

.div-sty {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
    ;
}

.div-sty2 {
    position: relative;
    display: flex;
    float: right;
    align-items: center;
    margin-right: 100px;
}