version: "3.0"
services:
  database:
    image: mongo
    expose:
      - 27017
    ports:
      - 27018:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: passw0rd
    volumes:
      - ./mongodbdata:/data/db
    networks:
      - mynet
  be:
    image: trieuvu/tlcn-be
    expose:
      - 3100
    ports:
      - 3100:3100
    environment:
      MONGODB_URI: mongodb://root:passw0rd@database:27017/tcstore?authSource=admin&retryWrites=true&serverSelectionTimeoutMS=5000&connectTimeoutMS=10000
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - database
    networks:
      - mynet
  fe:
    image: trieuvu/tlcn-fe
    expose:
      - 3000
    ports:
      - 80:3000
    environment:
      REACT_APP_API_URL: http://vuductrieu.id.vn:3100/api/
    networks:
      - mynet
  mng:
    image: trieuvu/tlcn-mng
    expose:
      - 3000
    ports:
      - 3001:3001
    environment:
      REACT_APP_API_URL: http://vuductrieu.id.vn:3100/api/
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
