.fixLine {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 400px;
  margin: 0 0 1em 0;
  overflow: hidden;
}


@media screen and (max-width: 480px) {
  .header-text {
    display: none;
  }

  .header-logo {
    display: block;
  }

  .header_top {
    height: 40px;
  }

  .ant-layout-header {
    padding: 0;
    padding-left: 10px;
  }

}

.header_top1 {
  height: 50px;
}



.row-style {
  position: relative;
  display: flex;
  align-items: center;
}


.fixed-div {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--theme-colors-main);
  height: 50px;
}

.bg-header {
  background: var(--theme-colors-main);
}

.abc {
  align-items: center;
}

.btn-st {
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.btn-sty {
  height: 40px;
  width: 120px;
  cursor: pointer;
  border-radius: 10px;
  background: var(--theme-colors-main2);
  align-items: center;

}

.input-st {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.coll-header--search {
  display: flex;
  align-items: center;
  position: relative;
  width: 230px;
}

.coll-header--search-icon {
  position: absolute;
  right: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

/**/
.div-center {
  position: relative;
  display: flex;
  float: right;
  align-items: center;
  height: 50px;
}

.p-st {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  cursor: pointer;
  cursor: pointer;
}

.cart {
  font-size: 20px;
  color: #FFFFFF;
}